{% extends "base.html" %}

{% block content %}
<section class="contact">
    <h1>Kontakt</h1>
    <p class="contact-intro">Jeg ser gerne høre fra dig. Her er de bedste måder at nå mig på:</p>
    
    <ul class="contact-methods">
        <li class="contact-card">
            <h3>E-mail</h3>
            <p><a href="mailto:sune.skovmand@gmail.com">sune.skovmand@gmail.com</a></p>
        </li>
        
        <li class="contact-card">
            <h3>Telefon</h3>
            <p><a href="tel:+4525616885">+45 25 61 68 85</a></p>
        </li>
        
        <li class="contact-card">
            <h3>Adresse</h3>
            <p>Klingenberg 15C, 3. th<br>5000 Odense C<br>Danmark</p>
        </li>
    </ul>
</section>
{% endblock %}