{% extends "base.html" %}

{% block content %}
<section class="home">
    <section class="container">
        <h1>IT-Arkitekt</h1>
        <h2>
            Jeg bygger ikke bare software <br>
            <span class="highlight">jeg designer <mark> løsninger</mark></span>
        </h2>

        <p class="intro">
            <mark>En IT-arkitekt skriver ikke kun kode. En IT-arkitekt skaber fundamentet, 
            træffer de tekniske beslutninger og sikrer, at løsninger fungerer — ikke 
            kun i dag, men også om fem år. 
            
            Hvor udviklere fokuserer på funktioner, fokuserer IT-arkitekten på helheden.</mark>
        </p>
        <img src="{{ url_for('static', filename='img/profil.jpg') }}" alt="Profilbillede">

    </section>
</section>


{% endblock %}